.experience-container {
    text-align: center;
    padding: 10px;
  }

  .experience-header {
    display: inline-block; /* To enable applying padding and border-radius */
    padding: 5px 10px;
    border-radius: 20px; /* Rounded corners for the box */
    background-color: #C5AECF; /* Background color for the header */
    margin-bottom: 20px; /* Space below the header */
    font-family: 'Playfair Display', serif;
  }
  
  .timeline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%; /* Adjust the width as needed */
    max-width: 800px; /* Maximum width of the container */
    margin: auto; /* Center the container on the page */
    padding: 20px; /* Add some padding inside the container */
    background-color: #fff; /* Optional: Background color for the container */
  }
  
  .timeline-item {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: flex-start;/* Align items horizontally to the left */
    margin: 20px 0;
  }
  
  .time-period {
    flex-shrink: 0; /* Prevents the time period from shrinking */
    width: 100px; /* Adjust width as needed */
    text-align: right;  
    margin-right: 15px;
    font-family: 'Nunito', sans-serif;
    font-size: 0.9em;
  }

  .time-period,
  .timeline-divider {
    flex: none; /* Do not stretch */
  }
  
  .timeline-divider {
    width: 1px;
    height: 100px; /* Fixed height */
    background-color: #333;
    margin: 0 20px; /* Fixed margin to keep the divider in place */
  }
  
  .timeline-circle {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px; /* Adjust size as needed */
    height: 15px;
    background-color: #333;
    border-radius: 50%;
  }
  .job-title {
    font-weight: bold;
    margin-bottom: 5px; /* Reduced space between job title and employer name */
    font-family: 'Playfair Display', serif;
    font-size: 1.2em;
  }

  .employer-name {
    color: #aaa; /* Paler grey for the employer name */
    font-family: 'Nunito', sans-serif;
    font-size: 0.9em;
  }

  .job-description {
    margin-left: 20px; /* Space after the divider */
    text-align: left;
    color: #333; /* Standard text color for the description */
    font-size: 0.9em; /* Smaller font size for the description */
    margin-top: 5px; /* Space between employer name and description */
    flex-grow: 1; /* Allow the job description to take up remaining space */
    
  }

  .job-detail {
    text-align: left;
    color: #333; /* Standard text color for the description */
    font-size: 0.95em; /* Smaller font size for the description */
    margin-top: 10px; /* Space between employer name and description */
    font-family: 'Nunito', sans-serif;
    
    
    flex-grow: 1; /* Allow the job description to take up remaining space */
  }
  
  /* Add media queries for responsiveness if necessary */
  @media (max-width: 768px) {
    .timeline-item {
      flex-direction: column;
    }
  
    .time-period {
      margin: 0 0 10px 0;
      text-align: center;
    }
  
    .timeline-divider {
      width: 80%;
      height: 1px;
      margin: 10px 0;
    }
  
    .timeline-circle {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  
    .job-description {
      text-align: center;
    }
  }
  